name: CD Push release

on:
  push:
    tags:
      - 'v*.*.*'   # ex: v1.0.0

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Extract version
        id: version
        run: |
          VERSION="${GITHUB_REF_NAME#v}"   # v1.2.3 -> 1.2.3
          MAJOR="${VERSION%%.*}"           # 1.2.3 -> 1
          MINOR="${VERSION%.*}"            # 1.2.3 -> 1.2
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"
          echo "major=$MAJOR" >> "$GITHUB_OUTPUT"
          echo "minor=$MINOR" >> "$GITHUB_OUTPUT"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push (release tags)
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            crisalidesr/crisalid-apollo:${{ steps.version.outputs.version }}
            crisalidesr/crisalid-apollo:${{ steps.version.outputs.minor }}
            crisalidesr/crisalid-apollo:${{ steps.version.outputs.major }}
            crisalidesr/crisalid-apollo:latest
          labels: |
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.ref.name=${{ github.ref_name }}
          context: .
          file: ./Dockerfile
          build-args: |
            GIT_COMMIT=${{ github.sha }}
            GIT_BRANCH=${{ github.ref_name }}